/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "//codepen.io/chrisdothtml/pen/ojLzJK.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/*-------- MY CODE STARTS HERE --------*/
/* Variables */
/* Mixins */
/* Base Code   */
html {
  font-family: museo-sans-rounded, sans-serif;
  font-weight: 900;
  font-style: normal;
}
.wrapper {
  background: #b8d8d8;
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 90px;
}
.header nav {
  width: 1024px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fe5f55;
  font-size: 2rem;
}
.header nav a:hover {
  color: #eef5db;
}
.container {
  max-width: 1030px;
  height: 1350px;
  background: #7a9e9f;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 500px) {
}
.top {
  width: 100%;
  height: 22%;
  background: #4f6367;
  display: flex;
}
.top .top_left {
  width: 29%;
  height: 100%;
}
.top .top_left img {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-left: 20px;
}
.top .top_right {
  width: 71%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top .top_right h1 {
  text-align: center;
  font-weight: 700;
  font-style: bold;
  font-size: 4rem;
  margin-top: 25px;
  line-height: 1.2;
  color: #eef5db;
}
.top .top_right p {
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  margin-top: 10px;
  line-height: 1.2;
  color: #b8d8d8;
}
.mid {
  width: 100%;
  height: 60%;
  display: flex;
}
.mid_left {
  width: 29%;
  height: 100%;
  background: #7a9e9f;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.mid_left h2 {
  font-weight: 500;
  font-size: 7rem;
  text-align: center;
  color: #eef5db;
  margin-top: 20px;
}
.mid_left div h3 {
  font-weight: 700;
  color: #fe5f55;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mid_left div ul {
  list-style-position: inside;
  list-style-type: square;
  margin-left: 20px;
  color: #eef5db;
  font-weight: 500;
}
.mid_right {
  padding: 50px;
  width: 71%;
  height: 100%;
  background: #eef5db;
}
.mid_right h2 {
  font-weight: 700;
  font-size: 2.8rem;
  color: #4f6367;
}
.mid_right p {
  font-weight: 300;
  font-size: 1.9rem;
  color: #7a9e9f;
}
.mid_right table {
  margin-bottom: 40px;
  color: #7a9e9f;
  font-size: 1.5rem;
}
.mid_right table .tab_head {
  color: #fe5f55;
}
.mid_right .mid_para h2 {
  margin-bottom: 35px;
}
.footer {
  width: 100%;
  height: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #4f6367;
}
.footer .copyright {
  margin-bottom: 20px;
}
.footer .copyright p {
  color: #fe5f55;
  font-weight: 700;
}
.footer .media_bar {
  padding-top: 60px;
  padding-bottom: 40px;
}
#table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#table td,
#table th {
  border-top: 25px solid rgba(221, 221, 221, 0);
  padding: 30px;
  text-align: center;
}
#table tr {
  background-color: #e5efc7;
}
#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fa {
  color: #3cf;
}
.social-btns .btn.google:before {
  background-color: #dc4a38;
}
.social-btns .btn.google .fa {
  color: #dc4a38;
}
.social-btns .btn.dribbble:before {
  background-color: #f26798;
}
.social-btns .btn.dribbble .fa {
  color: #f26798;
}
.social-btns .btn.skype:before {
  background-color: #00aff0;
}
.social-btns .btn.skype .fa {
  color: #00aff0;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.social-btns {
  height: 90px;
  font-size: 0;
  text-align: center;
}
.social-btns .btn {
  display: inline-block;
  background-color: whitesmoke;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 40px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: "";
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}
